:root {
  --background: #ffffff;
  --foreground: #171717;
}


body{
  margin: 0 !important;
}

.active{
  background-color: white;
  color: #1976d2 !important;
  border-radius: 5px;
  font-weight: bold;
}